<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>0.999999 0.999974 0.999991</string>
	<key>currentLineHighlightColour</key>
	<string>0.949825 0.956009 0.955580</string>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<string>0.989434 0.810012 0.594155</string>
	<key>displayName</key>
	<string>Basic</string>
	<key>insertionPointColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>syntaxGroupOptions</key>
	<dict>
		<key>comments</key>
		<dict>
			<key>colour</key>
			<string>0.014444 0.498862 0.019206</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>instruction</key>
		<dict>
			<key>colour</key>
			<string>0.006251 0.000000 1.000000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>keyword</key>
		<dict>
			<key>colour</key>
			<string>0.006251 0.000000 1.000000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>number</key>
		<dict>
			<key>colour</key>
			<string>0.000000 0.000000 0.000000</string>
			<key>enabled</key>
			<false/>
		</dict>
		<key>strings</key>
		<dict>
			<key>colour</key>
			<string>0.639116 0.078686 0.081522</string>
			<key>enabled</key>
			<true/>
		</dict>
	</dict>
	<key>textColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>textInvisibleCharactersColour</key>
	<string>0.797413 0.797229 0.802470</string>
</dict>
</plist>
