<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>currentLineHighlightColour</key>
	<string>0.101961 0.098039 0.098039</string>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<string>0.989434 0.810012 0.594155</string>
	<key>displayName</key>
	<string>Midnight</string>
	<key>insertionPointColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>syntaxGroupOptions</key>
	<dict>
		<key>comments</key>
		<dict>
			<key>colour</key>
			<string>0.255000 0.801000 0.270000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>instruction</key>
		<dict>
			<key>colour</key>
			<string>0.828000 0.095000 0.583000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>keyword</key>
		<dict>
			<key>colour</key>
			<string>0.896000 0.488000 0.284000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>number</key>
		<dict>
			<key>colour</key>
			<string>0.469000 0.426000 1.000000</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>strings</key>
		<dict>
			<key>colour</key>
			<string>1.000000 0.171000 0.219000</string>
			<key>enabled</key>
			<true/>
		</dict>
	</dict>
	<key>textColor</key>
	<string>1.000000 1.000000 1.000000</string>
	<key>textInvisibleCharactersColour</key>
	<string>0.200000 0.200000 0.200000</string>
</dict>
</plist>
