<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<string>0.989434 0.957944 0.864060</string>
	<key>currentLineHighlightColour</key>
	<string>0.916111 0.890012 0.797811</string>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<string>0.989434 0.810012 0.594155</string>
	<key>displayName</key>
	<string>Solarized Light</string>
	<key>insertionPointColor</key>
	<string>0.000000 0.000000 0.000000</string>
	<key>syntaxGroupOptions</key>
	<dict>
		<key>comments</key>
		<dict>
			<key>colour</key>
			<string>0.505992 0.564858 0.563637</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>instruction</key>
		<dict>
			<key>colour</key>
			<string>0.777389 0.108025 0.435166</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>keyword</key>
		<dict>
			<key>colour</key>
			<string>0.647465 0.467514 0.018687</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>number</key>
		<dict>
			<key>colour</key>
			<string>0.127549 0.462659 0.782314</string>
			<key>enabled</key>
			<true/>
		</dict>
		<key>strings</key>
		<dict>
			<key>colour</key>
			<string>0.819270 0.108407 0.141457</string>
			<key>enabled</key>
			<true/>
		</dict>
	</dict>
	<key>textColor</key>
	<string>0.324366 0.407177 0.438506</string>
	<key>textInvisibleCharactersColour</key>
	<string>0.505992 0.564858 0.563637</string>
</dict>
</plist>
