[submodule "Musashi/musashi"]
	path = Motorola68kPlatform/Musashi/musashi
	url = git://github.com/kstenerud/Musashi.git
[submodule "Fragaria"]
	path = M68kSimApp/Fragaria
	url = https://shysaur@github.com/shysaur/Fragaria.git
[submodule "binutils/binutils-gdb"]
	path = Motorola68kPlatform/binutils/binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "Sparkle"]
	path = M68kSimApp/Sparkle
	url = git://github.com/sparkle-project/Sparkle.git
