<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>localizedTitle</key>
		<string>Easy Examples</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>digits.s</string>
		<key>localizedTitle</key>
		<string>Digit Counter</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>helloworld.s</string>
		<key>localizedTitle</key>
		<string>Hello World</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
	<dict>
		<key>localizedTitle</key>
		<string>Average Examples</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>selection-sort.s</string>
		<key>localizedTitle</key>
		<string>Selection Sort</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>reverser.s</string>
		<key>localizedTitle</key>
		<string>String Reverser</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>separator</string>
	</dict>
	<dict>
		<key>localizedTitle</key>
		<string>Advanced Examples</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>expression.s</string>
		<key>localizedTitle</key>
		<string>Expression Calculator</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>tic-tac-toe.s</string>
		<key>localizedTitle</key>
		<string>Tic Tac Toe</string>
	</dict>
</array>
</plist>
